.item-container
  %h1= @item.name
  %dl.dl-horizontal.item-list
    %dt Model
    %dd= @item.model
    %dt Serial number
    %dd= @item.serial
    %dt Purchase price
    %dd= number_to_currency(@item.price)
    %dt Purchase date 
    %dd= pretty_date(@item.purchase_date)
    %dt Purchase location
    %dd= @item.purchase_location
    %dt End of warranty
    %dd= pretty_date(@item.end_of_warranty)
    %dt Method of payment
    %dd= @item.method_of_payment
    %dt Notes
    %dd= @item.notes
  = link_to "Edit", edit_item_path(@item), class: 'btn btn-primary'
  = link_to "Delete", item_path(@item), method: 'delete', class: 'btn btn-danger'
  = link_to "Go back", items_path, class: 'btn btn-default'

