!!! 5
%html(lang="en-US")
  %head
    %title HouseFoldr - keep track of warranty, contracts and proof of purchases
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.container
      = render 'shared/messages'
      = yield
    %footer
      %a(href="http://www.wynnelo.com")
        %small
          created by wynnelo.com

    
